<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/smoothie.png" alt="">
        </div>
        <div class="headings">
            <h2>Smoothie Recipes</h2>
            <h3>By Peter Beeshop</h3>
            <a href="/smoothies" class="btn">View Recipes</a>
            <div>
                <p>In order for you to access the recipes for making a good Smoothie,</p> <br>
                <p>You need to create an account and log in. </p>
                <strong>Feel free to create a fake email and password</strong>
            </div>
            
        </div>
    </header>


    <%- include('partials/footer'); -%>